.place__paragraph{
	font-weight: 400;
	font-size: 18px;
	line-height: 163%;
	margin: 0 0 27px;
}
.place__paragraph:last-of-type{
	margin-bottom: 0;
}
@media screen and (max-width: 1024px){
	.place__paragraph{
		font-size: 16px;
		margin: 0 16px 27px 0;
	}
}
<<<<<<< HEAD
@media screen and (max-width: 768px){
	.place__paragraph{
		font-size: 16px;
		margin: 0 16px 27px;
	}
}
=======
>>>>>>> e720f2c68848df5c82b06035c6250c796b5985cb
