.cover__overlay{
	min-height: 740px;
	background-image: url("../../../images/__background.jpg");
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: relative;
	text-decoration: none;
}
.cover__overlay::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #2A2C2F;
	opacity: 0.3;
	transition: opacity .5s ease-in-out;
}

.cover__overlay:hover::after {
	opacity: 0.8;
}
@media screen and (max-width: 1279px){
	.cover__overlay{
		min-height: 640px;
	}
}
@media screen and (max-width: 1023px){
	.cover__overlay{
		min-height: 480px;
	}
}
@media screen and (max-width: 767px){
	.cover__overlay{
		min-height: 200px;
	}
}