.place__url-heading{
	margin: 0 0 12px;
	display: flex;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.2em;
	color: #AAAAAA;
	text-transform: uppercase;
}
@media screen and (max-width: 767px){
	.place__url-heading{
		margin: 0 16px 12px;
	}
}